<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/play.css" type="text/css">


<script src="/socket.io/socket.io.js"></script>


<!-- START MAIN CONTAINER -->
<div class="container-fluid">

<%- include("partials/gameSettingsModal") %>

    <!-- START top area -->
    <div>
      <div class="container-fluid"> <!--was class="container"-->
        <div class="row flex-row justify-content-center">

          <div class="col col-12 col-lg-3" id="gameDetails">
            <!-- will be populated later via javascript-->
          </div>
          <div class="col col-12 col-lg-4">
            <!-- START INDICATOR CARDS ROW -->
            <div class="card-body rowOfCards" id="indicatorCardsRow">
              <!-- will be populated later via javascript-->
            </div>
            <!-- END INDICATOR CARDS ROW -->
            <!-- START DEAL PILE -->
            <div class="card-body rowOfCards" id="dealPile">
               <!-- will be populated later via javascript-->
            </div>
            <!-- END DEAL PILE -->
            <!-- START DEALING BUTTONS-->
            <form>
              <div class="row d-flex justify-content-around mx-2 my-3" id="dealingButtonsRow">
                <button type="button" class="btn btn-primary" id="dealButton">Deal</button>
                <button type="button" class="btn btn-primary" id="dealIndicatorCardsButton">Deal Indicator Card(s)</button>
                <button type="button" class="btn btn-primary" id="offerCardsButton">Offer Cards</button>
                <button type="button" class="btn btn-primary" id="passCardsPromptButton">Prompt to Pass Cards</button>
                <button type="button" class="btn btn-primary" id="promptToDeclareButton">Prompt to Declare</button>
              </div>
              <div class="alert alert-primary" role="alert" id="dealerAlert">
                Alerts and prompts for the dealer will go here.
              </div>
            </form>
              <!-- END DEALING BUTTONS-->
          </div>

          <div class="col col-12 col-lg-5" id="bettingColumn">
            <h4 class="mb-3" id="bettingTitle">
              <span class="text-muted">Betting</span>
            </h4>
            <ul class="list-group" id="bettingDisplayList">
              <!-- will be populated later via javascript-->
            </ul>
            <p id="raisesRemainingText">Raises remaining: </p>
            <!-- START ANTE AND BETTING BUTTONS-->
            <form  id="anteAndBettingButtonsForm">
            <div class="row justify-content-left mx-2 my-3" id="anteButtonsRow">
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-primary" id="anteButton">Ante</button>              
              </div>
              <div class="form-group col-md-3">
                <button type="button" class="btn btn-danger" id="sitOutButton">Sit Out</button>                  
              </div>
            </div>
            <div class="row justify-content-around mx-2 my-3" id="bettingButtonsRow">
            <!-- buttons to be inserted via javascript -->
            </div>
            <div class="row d-flex justify-content-around mx-2 my-3" id="saveWinnersButtonRow">
            <!-- button to be inserted via javascript -->
            </div>
            <div class="row d-flex justify-content-around mx-2 my-3" id="gameEndAcknowledgeButtonRow">
              <!-- button to be inserted via javascript -->
            </div>
            <div class="row d-flex justify-content-center align-items-center mx-2 my-3" id="declareButtonRow">
              <!-- checkboxes and button to be inserted via javascript -->
            </div>
            </form>
            <!-- END ANTE AND BETTING BUTTONS-->
          </div>

        </div>

      </div>
  </div>
  <!-- END top area -->



<!-- START CONTAINER FOR ALL PLAYERS -->

        <!-- START playersRow1 -->
        <div class="playerRow row flex-row justify-content-center" id="playersRow1">
          <% if (tonight.players.length>0){ %>
          <div class="col col-12 col-lg-3 playerArea" id="player1Area">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                <div>
                  <h6 class="my-0">Player 1: <%= tonight.players[0].playerUser.fullName %></h6>
                </div>
                <span class="text-white inGameStatus"></span>
              </li>
            </ul>
            <div class="card-body rowOfCards d-flex align-items-start">
              <!-- cards to be inserted via javascript -->
            </div>
            <div class="alert alert-primary playerAlert" role="alert" id="player1Alert">
              <!-- alerts to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-around mx-2 my-3" id="player1DiscardButtonRow">
              <!-- button to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-center mx-2 my-3" id="player1RollButtonRow">
              <!-- buttons to be added via javascript -->
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                  <div>
                    <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                  </div> 
              </li>
            </ul>
          </div>
          <% }  %>
          <% if (tonight.players.length>1){ %>
          <div class="col col-12 col-lg-3 playerArea" id="player2Area">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                <div>
                  <h6 class="my-0">Player 2: <%= tonight.players[1].playerUser.fullName %></h6>
                </div>
                <span class="text-white inGameStatus"></span>
              </li>
            </ul>
            <div class="card-body rowOfCards d-flex align-items-start">
              <!-- cards to be inserted via javascript -->
            </div>
            <div class="alert alert-primary playerAlert" role="alert" id="player2Alert">
              <!-- alerts to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-around mx-2 my-3" id="player2DiscardButtonRow">
              <!-- button to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-center mx-2 my-3" id="player2RollButtonRow">
              <!-- buttons to be added via javascript -->
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                  <div>
                    <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                  </div> 
              </li>
            </ul>
          </div>
          <% }  %>
          <% if (tonight.players.length>2){ %>
          <div class="col col-12 col-lg-3 playerArea" id="player3Area">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                <div>
                  <h6 class="my-0">Player 3: <%= tonight.players[2].playerUser.fullName %></h6>
                </div>
                <span class="text-white inGameStatus"></span>
              </li>
            </ul>
            <div class="card-body rowOfCards d-flex align-items-start">
              <!-- cards to be inserted via javascript -->
            </div>
            <div class="alert alert-primary playerAlert" role="alert" id="player3Alert">
              <!-- alerts to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-around mx-2 my-3" id="player3DiscardButtonRow">
              <!-- button to be added via javascript -->
            </div>
            <div class="row d-flex justify-content-center mx-2 my-3" id="player3RollButtonRow">
              <!-- buttons to be added via javascript -->
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                  <div>
                    <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                  </div> 
              </li>
            </ul>
          </div>
          <% }  %>          
        </div> 
        <!-- END playersRow1 -->


        <!-- START playersRow2 -->
        <div class="playerRow row flex-row-reverse justify-content-center" id="playersRow2"> 
          <% if (tonight.players.length>3){ %>
            <div class="col col-12 col-lg-3 playerArea" id="player4Area">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                  <div>
                    <h6 class="my-0">Player 4: <%= tonight.players[3].playerUser.fullName %></h6>
                  </div>
                  <span class="text-white inGameStatus"></span>
                </li>
              </ul>
              <div class="card-body rowOfCards d-flex align-items-start">
                <!-- cards to be inserted via javascript -->
              </div>
              <div class="alert alert-primary playerAlert" role="alert" id="player4Alert">
                <!-- alerts to be added via javascript -->
              </div>
              <div class="row d-flex justify-content-around mx-2 my-3" id="player4DiscardButtonRow">
                <!-- button to be added via javascript -->
              </div>
              <div class="row d-flex justify-content-center mx-2 my-3" id="player4RollButtonRow">
                <!-- buttons to be added via javascript -->
              </div>
              <ul class="list-group">
                <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                    <div>
                      <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                    </div> 
                </li>
              </ul>
            </div>
            <% }  %>
            <% if (tonight.players.length>4){ %>
              <div class="col col-12 col-lg-3 playerArea" id="player5Area">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                    <div>
                      <h6 class="my-0">Player 5: <%= tonight.players[4].playerUser.fullName %></h6>
                    </div>
                    <span class="text-white inGameStatus"></span>
                  </li>
                </ul>
                <div class="card-body rowOfCards d-flex align-items-start">
                  <!-- cards to be inserted via javascript -->
                </div>
                <div class="alert alert-primary playerAlert" role="alert" id="player5Alert">
                  <!-- alerts to be added via javascript -->
                </div>
                <div class="row d-flex justify-content-around mx-2 my-3" id="player5DiscardButtonRow">
                  <!-- button to be added via javascript -->
                </div>
                <div class="row d-flex justify-content-center mx-2 my-3" id="player5RollButtonRow">
                  <!-- buttons to be added via javascript -->
                </div>
                <ul class="list-group">
                  <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                      <div>
                        <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                      </div> 
                  </li>
                </ul>
              </div>
              <% }  %>
              <% if (tonight.players.length>5){ %>
                <div class="col col-12 col-lg-3 playerArea" id="player6Area">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                      <div>
                        <h6 class="my-0">Player 6: <%= tonight.players[5].playerUser.fullName %></h6>
                      </div>
                      <span class="text-white inGameStatus"></span>
                    </li>
                  </ul>
                  <div class="card-body rowOfCards d-flex align-items-start">
                    <!-- cards to be inserted via javascript -->
                  </div>
                  <div class="alert alert-primary playerAlert" role="alert" id="player6Alert">
                    <!-- alerts to be added via javascript -->
                  </div>
                  <div class="row d-flex justify-content-around mx-2 my-3" id="player6DiscardButtonRow">
                    <!-- button to be added via javascript -->
                  </div>
                  <div class="row d-flex justify-content-center mx-2 my-3" id="player6RollButtonRow">
                    <!-- buttons to be added via javascript -->
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                        <div>
                          <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                        </div> 
                    </li>
                  </ul>
                </div>
                <% }  %>
                <% if (tonight.players.length>6){ %>
                  <div class="col col-12 col-lg-3 playerArea" id="player7Area">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between lh-condensed playerNameRow">
                        <div>
                          <h6 class="my-0">Player 7: <%= tonight.players[6].playerUser.fullName %></h6>
                        </div>
                        <span class="text-white inGameStatus"></span>
                      </li>
                    </ul>
                    <div class="card-body rowOfCards d-flex align-items-start">
                      <!-- cards to be inserted via javascript -->
                    </div>
                    <div class="alert alert-primary playerAlert" role="alert" id="player7Alert">
                      <!-- alerts to be added via javascript -->
                    </div>
                    <div class="row d-flex justify-content-around mx-2 my-3" id="player7DiscardButtonRow">
                      <!-- button to be added via javascript -->
                    </div>
                    <div class="row d-flex justify-content-center mx-2 my-3" id="player7RollButtonRow">
                      <!-- buttons to be added via javascript -->
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item d-flex lh-condensed playerWinningsRow">
                          <div>
                            <h6 class="my-0">Winnings: $<span class="winningsDisplayAmt">0.00</span></h6>
                          </div> 
                      </li>
                    </ul>
                  </div>
                  <% }  %>
        </div>
        <!-- END playersRow2 -->

        <div class="row" id="contentBottomSpacer"></div>  <!-- to prevent fixed status messages from hiding important content at bottom of window -->

<!-- END CONTAINER FOR ALL PLAYERS -->

<!-- START COLLAPSIBLE CHAT MESSAGES CARD-->
<!-- <div class="accordion" id="chatMessagesAccordion">
  <div class="card text-center">
    <div class="card-header" id="chatMessagesHeader">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Show/Hide
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="chatMessagesHeader" data-parent="#chatMessagesAccordion">
      <div class="card-body">
        <ul id="statusUpdates"><li>Status updates will appear here.</li></ul>
        <ul id="chatMessages"><li>Chat messages will appear here.</li></ul>
        <form id="chatForm" action="">
          <input type="text" id="chatInput" autocomplete="off">
          <button>Send</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- END COLLAPSIBLE CHAT MESSAGES CARD-->

<!-- START FIXED-BOTTOM FOOTER FOR STATUS UPDATES -->
<div class="fixed-bottom">
  <ul id="statusUpdates"><li>Status updates will appear here.</li></ul>
</div>
<!-- END FIXED-BOTTOM FOOTER FOR STATUS UPDATES -->




</div>
<!-- END OF MAIN CONTAINER -->


<%- include("partials/playFooter") %>